* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      height: 100vh;
      font-family: "Times New Roman", serif;
    }

    .container {
      height: 100vh;
      display: flex;
    }

.nav {
      width: 18%;
      background: #be6ec5;

      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 32px;
    }

.conteudo {
      width: 82%;
      height: 100%;
      display: flex;
      flex-direction: column;
    }

.header {
      height: 17.3%;
      background: #ff624b;

      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 32px;
    }

.center{
    width: 100%;
      height: 100%;
      display: flex;
}

.main {
      flex: 3;
      background: #26b2ad;

      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 32px;
    }

.aside{
    flex: 1;
      background: #75ff4b;

      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 32px;
}

 .footer {
      height: 17.3%;
      background: #8b28df;

      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 32px;
    }