*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header{
    background-color: rgb(222, 70, 70);
    height: 15%;
}

.header1{
    height: 100%;
    text-align: center;
    align-content: center;
    font-size: 100px;
}

.main{
    background-color: rgb(130, 226, 95);
    flex-grow: 1;
}

.main1{
    height: 100%;
    text-align: center;
    align-content: center;
    font-size: 100px;
}

.footer{
    background-color: blueviolet;
    height: 15%;
}

.footer1{
    height: 100%;
    text-align: center;
    align-content: center;
    font-size: 100px;
}